# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore Idea projet
.idea

.idea/*

front/cerberus-front/node_modules/*
front/cerberus-front/node_modules
