<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- INFRASTRUCTURE -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!--    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">-->
    <!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
    <!--        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/cerberus"/>-->
    <!--        <property name="username" value="postgres"/>-->
    <!--        <property name="password" value="r00t"/>-->
    <!--        <property name="maximumPoolSize" value="10"/>-->

    <!--        <property name="connectionTimeout" value="30000"/>-->
    <!--        <property name="idleTimeout" value="600000"/>-->
    <!--        <property name="maxLifetime" value="1800000"/>-->
    <!--    </bean>-->


    <bean id="aclProvider" class="org.springframework.security.acls.jdbc.JdbcAclProvider">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="aclEntryRepository" class="org.springframework.security.acls.jdbc.JdbcAclEntryRepository">
        <property name="aclProvider" ref="aclProvider"/>
    </bean>

    <bean id="aclVoter" class="com.example.security.AclVoter">
        <property name="aclEntryRepository" ref="aclEntryRepository"/>
    </bean>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- DOMAIN -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- DOMAIN SERVICES -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- APPLICATION SERVICES -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->

    <bean class="org.mapstruct.factory.Mappers" factory-method="getMapper" id="ApplicationMapper">
        <constructor-arg value="com.hexi.Cerberus.application.Mapper"/>
    </bean>

    <bean id="ApplicationUserGroupService"
          class="com.hexi.Cerberus.application.service.impl.UserGroupModelServiceImpl">
        <constructor-arg name="userGroupModelService" ref="DomainUserGroupService"/>
        <constructor-arg name="mapper" ref="ApplicationMapper"/>
    </bean>

    <bean id="ApplicationDepartmentService"
          class="com.hexi.Cerberus.application.service.impl.DepartmentServiceImpl">
        <constructor-arg name="departmentService" ref="DomainDepartmentService"/>
        <constructor-arg name="mapper" ref="ApplicationMapper"/>
    </bean>

    <bean id="ApplicationFactorySiteService"
          class="com.hexi.Cerberus.application.service.impl.FactorySiteServiceImpl">
        <constructor-arg name="factorySiteRepository" ref="DomainFactorySiteService"/>
        <constructor-arg name="mapper" ref="ApplicationMapper"/>
    </bean>

    <bean id="ApplicationWareHouseService"
          class="com.hexi.Cerberus.application.service.impl.WareHouseServiceImpl">
        <constructor-arg name="wareHouseRepository" ref="DomainWareHouseService"/>
        <constructor-arg name="mapper" ref="ApplicationMapper"/>
    </bean>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- WEB SERVICE -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!--
        <bean id="GroupUserController"
              class="com.hexi.Cerberus.webstatic.UserGroupController.UserGroupController">
            <constructor-arg name="userGroupModelService" ref="ApplicationUserGroupService"/>
        </bean>
    -->
</beans>
