<!-- UserGroupController/groupDetails.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Group Details</title>
</head>
<body>

<h2>Group Details</h2>

<!-- Отображение деталей группы -->
<p th:text="${model.id}"></p>
<span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>

<p th:text="${model.name}"></p>
<span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
<!-- Добавьте другие поля по вашему усмотрению -->

</body>
</html>