<!-- UserGroupController/userDetails.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Details</title>
</head>
<body>

<h2>User Details</h2>

<!-- Отображение деталей пользователя -->
<p th:text="${model.id}"></p>
<p th:text="${model.name}"></p>
<p th:text="${model.email}"></p>
<h3>Groups</h3>
<!--
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : *{groups}">
        <td th:text="${group.id}"></td>
    </tr>
    </tbody>
</table>
-->
<!-- Добавьте другие поля по вашему усмотрению -->

</body>
</html>